# Ignore environment configuration files
.env
.env.local
.env.*.local

# Ignore development environment files
.env.development
.env.development.local

# Ignore production environment files
.env.production
.env.production.local

# Ignore test environment files
.env.test
.env.test.local

# Other potential environment files
*.env

## ignore scraped content inside the webscraping directory
web_scraping/c4ai/scraped/*
web_scraping/c4ai/downloads/*
web_scraping/c4ai/c4ai_results_html/*
web_scraping/pdf_fst_fes/*
web_scraping/text_extracted/*
text_extracted/*

venv/*